.buttons-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0 1rem 0;
}

.padding-1 {
  padding: 1rem;
}

.padding-0-1-1-1 {
  padding: 0 1rem 1rem 1rem;
}

.max-width-450 {
  max-width: 450px;
}
